* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --purple-light-1: #fbfafb;
  --purple-light-2: #eeeaf2;
  --purple-medium-1: #aa83c8;
  --purple-medium-2: #8b48bf;
  --purple-medium-3: #5c218a;
  --purple-dark-1: #3e0f64;
  --purple-dark-2: #2a0646;

  --yellow: #eecc75;
  --green: #cad297;
  --aqua: #b7eac5;
  --lightBlue: #a2eee5;
  --darkBlue: #8ea2ea;
  --red: #f09d9d;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}
html {
  font-size: 62.5%;
  background-color: var(--purple-medium-3);
}
body {
  background-color: var(--purple-light-1);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 1.6rem;
  margin: 4px 0 0 0;
}
h1,
h2 {
  font-size: 2.4rem;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
}
h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 1.6rem;
}
input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 1.8rem;
  padding-left: 16px;
}
input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}
button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 1.4rem;
  cursor: pointer;
}
/* Shared (compartido) */
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
}
.movie-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: 0.4s;
}

.movie-img {
  border-radius: 8px;
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.category-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}
.category-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}

/* Header */
.header-arrow{
    font-weight: var(--font-weight-text2);
    font-size: 3.6rem;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}
.header-container{
  padding-top: 40px;
}
.header-title{
  margin-bottom: 16px;
}
.header-searchForm{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}
.header-searchForm input{
  height:48px;
  width:100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button{
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Navigation */
.inactive{
    display: none;
}

/* Trending */
.trendingPreview-header{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.trendingPreview-btn{
  border-radius: 8px;
  height: 32px;
  width: 72px;
}
.trendingPreview-movieList{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}
.movie-img{
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
/* Categories */
.category-container{
  width: 45%;
}
.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
/* Movie Detail */
.movie-container--loading {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
.movie-img{
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}
.genericList-container .movie-img{
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}